<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>View Assessment</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-6">
            <a th:href="@{http://{url}/patient/list(url=${urlPat})}">Patient List</a>&nbsp;|&nbsp;
            <a th:href="@{http://{url}/patient/note/list(url=${urlNote})}">Patient Notes</a>
        </div>
    </div>

    <div class="row">
        <h2 th:text="'Could not find any notes for patient with ID ' + ${patientId} + '.<br>Unable to generate assessment.'"/>
    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <a class="btn btn-danger btn-sm" th:href="@{http://{url}/patient/list(url=${urlPat})}">Back</a>
        </div>
    </div>


</div>
</body>
</body>
</html>